<h2>Actualizar Contrase単a</h2>
<h3><%= userName %></h3> 

<form action="/auth/update/<%= userID %>?_method=PUT" method="post">
  <p>    
    <% if (typeof message !== 'undefined' ) { %>
      <p><%= message %></p>
      <% } %>
  </p> 

    <label for="passOld">Contrase単a Actual</label>
    <br>
    <input type="password" name="passOld" id="" required>
    <p>    
      <% if (typeof message1 !== 'undefined' ) { %>
        <p><%= message1 %></p>
        <% } %>
    </p> 
    <br>
    

    <label for="pass1">Contrase単a Nueva</label>
    <br>
    <input type="password" name="pass1" id="" required>
    <p>    
      <% if (typeof message2 !== 'undefined' ) { %>
        <p><%= message2 %></p>
        <% } %>
    </p> 
    <br>
    <label for="pass2">Repetir Contrase単a</label>
    <br>
    <input type="password" name="pass2" id="" required>    

    <button type="submit">Update</button>
</form>

<a href="/">Cancel</a> 